{% extends 'base.html.twig' %}

{% block body %}

    <div class="row expanded" id="slide">
        <div class="large-12 columns" id="slider">
            <div class="orbit" role="region" aria-label="Running" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;"  >
                <div class="orbit-wrapper">

                    <ul class="orbit-container">
                        <li class="is-active orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ asset('img/1.jpg') }}">
                                <figcaption class="orbit-caption">On mincit </figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ asset('img/2.jpeg') }}">
                                <figcaption class="orbit-caption">On renforce son coeur</figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ asset('img/3.jpg') }}">
                                <figcaption class="orbit-caption">On est plus heureux</figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ asset('img/4.jpg') }}">
                                <figcaption class="orbit-caption">Retrouver la forme</figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ asset('img/5.jpg') }}">
                                <figcaption class="orbit-caption">Voir la vie en rose</figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    </div>
    <div class=""row>


    </div>

    <div class="row ">
        <div class="large-4 columns">
            <img src="{{ asset('img/6.jpg') }}"/>
            <h4> intergénérationnelle</h4>
            <p>I'm a complete failure. I can't even fake the death of a stripper. Wow, this is the best free scrapbooking class I've ever taken! ps This one really cracks me up for some reason. Friend of mine from college. He also has a boat tho not called the Seaward. Hey, look at that – you're mean sober, too. Can you believe that the only reason the club is going under is because it's in a terrifying neighborhood? Douche chill! </p>
        </div>
        <div class="large-4 columns">
            <img src="{{ asset('img/7.jpg') }}"/>
            <h4>Cure de Jouvence</h4>
            <p>I don't appreciate the dry British humor. Michael was concerned that he was caught in a lie about his family. The family was concerned that they were being confronted by a woman they had clubbed, drugged, and left on a bench. </p>
        </div>
        <div class="large-4 columns">
            <img src="{{ asset('img/8.jpg') }}"/>
            <h4> Moins de stress </h4>
            <p>Boy, I sure feel like a Mary without a Peter and a Paul. Or it could be your colon. I'd want to get in there and find some answers. Even though sooooo many people in this office are begging for it. Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! I'm not interested in you that way. Tobias: What way? Michael: Pick one. I don't appreciate the dry British humor. </p>
        </div>
    </div>

    <div class="row ">
        <div class="large-4 columns">
            <img src="http://www.fillmurray.com/300/300"/>
            <h4> Lorem ipsum dolor </h4>
            <p>Shémale. Yes, Annyong. Your name is Annyong! We all know you're Annyong! Wow. We're just blowing through nap time, aren't we? ¡Soy loco por los Cornballs! I want to cry so bad, but I don't think I can spare the moisture. You might enjoy this. Oh. Em. Gee. That's amazing.  </p>
        </div>
        <div class="large-4 columns">
            <img src="http://www.fillmurray.com/g/300/300"/>
            <h4> Aliquam era </h4>
            <p>Well, I spent so much time making sweet love on my wife that it's hard to hear anything over the clatter of her breasts. Do the right thing here. String this blind girl along so that dad doesn't have to pay his debt to society. And with deep, deep concentration and, and great focus, he's often able to achieve an erect– That coat costs more than your house! Got a big ass room at the travelodge. What a fun, sexy time for you. Michael, I'm your older brother. I'll never be proud of you. No! These are just strippers! Look how hot they are! Can you believe that the only reason the club is going under is because it's in a terrifying neighborhood? .</p>
        </div>
        <div class="large-4 columns">
            <img src="https://unsplash.it/300/300"/>
            <h4> pellentesque risus eu  </h4>
            <p>Let's see some bananas and nuts! Yeah, like I'm going to spill coffee all over this $3,000 suit? Come on! I mean, it's one banana, Michael. What could it cost, ten dollars? Caw ca caw, caw ca caw, caw ca caw, caw ca caw. Turn this skiff around! Daddy horny, Michael. </p>
        </div>
    </div>





{% endblock %}