{% extends 'base.html.twig' %}

{% block body %}
    <div class="row expanded" id="resultat">


        <div class="hero-section">
            <div class="hero-section-text">
                {% for meeting in result %}
                    <h1>{{ meeting.name }}</h1>
                    <h5>{{ meeting.date|date('d-m-Y') }}</h5>
                {% endfor %}
            </div>
        </div>


    <div class="row " id="table">
        <table class="stacked-for-small hover">
            <thead>
            <tr>
                <th width="200">PRENOM</th>
                <th width="200">NOM</th>
                <th width="150">TEMPS</th>
                <th width="150">POINTS</th>
            </tr>
            </thead>
            <tbody>
            {% set line=1 %}
            {% for resultat in athletes %}
                <tr id="{{ line }}">
                    <td  class=" hidden lineid">{{ line }}</td>
                    <td class=" hidden meetingid">{{ resultat.meeting.id }}</td>
                    <td class=" hidden athleteid">{{ resultat.athlete.id }}</td>
                    <td class=" hidden meetingyear">{{ resultat.meeting.date|date('Y') }}</td>
                    <td class=" hidden athleteyear">{{ resultat.athlete.birthdate }}</td>
                    <td>{{ resultat.athlete.firstname }}</td>
                    <td>{{ resultat.athlete.lastname }}</td>
                    <td><form method="post" id="{{ resultat.athlete.id }}" class="resultForm"><input type="text" class="time" placeholder={{ resultat.time }}></form></td>
                    <td class="classpoint" id="point{{ resultat.athlete.id }}">{{ resultat.points }} </td>
                </tr>
                {%  set line=line+1 %}
            {% endfor %}


            </tbody>
        </table>
    </div>


{% endblock %}