{% extends 'base.html.twig' %}

{% block body %}
    <div class="row expanded" id="resultat">


        <div class="hero-section">
            <div class="hero-section-text">
                {% for meeting in result %}
                    <h1>{{ meeting.name }}</h1>
                    <h5>{{ meeting.date|date('d-m-Y') }}</h5>
                {% endfor %}
            </div>
        </div>



    </div>
    <div class="row " id="table">
        <table class="stacked-for-small hover">
            <thead>
            <tr>
                <th width="200">PRENOM</th>
                <th width="200">NOM</th>
                <th width="150">TEMPS</th>
                <th width="150">POINTS</th>
            </tr>
            </thead>
            <tbody>
            {% for resultat in athletes %}
                <tr>
                    <td class="hidden" id="meetingid">{{ resultat.meeting.id }}</td>
                    <td class="hidden" id="athleteid">{{ resultat.athlete.id }}</td>
                    <td class="hidden" id="meetingyear">{{ resultat.meeting.date|date('Y') }}</td>
                    <td class="hidden" id="athleteyear">{{ resultat.athlete.birthdate }}</td>
                    <td>{{ resultat.athlete.firstname }}</td>
                    <td>{{ resultat.athlete.lastname }}</td>
                    <td><form method="post" id="{{ resultat.athlete.id }}" class="resultForm"><input type="text" id="time{{ resultat.athlete.id }}" placeholder={{ resultat.time }}><input id="time" type="button"></form></td>
                    <td id="point{{ resultat.athlete.id }}"></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}