{% extends 'base.html.twig' %}

{% block body %}
<div class="row expanded" id="resultat">


    <div class="hero-section">
        <div class="hero-section-text">
           {% for meeting in result %}
            <h1>{{ meeting.name }}</h1>
            <h5>{{ meeting.date|date('d-m-Y') }}</h5>
            {% endfor %}
        </div>
    </div>



</div>
    <div class="row " id="table">
    <table class="stacked-for-small hover">
        <thead>
        <tr>
            <th width="200">PRENOM</th>
            <th width="200">NOM</th>
            <th width="150">TEMPS</th>
            <th width="150">POINTS</th>
        </tr>
        </thead>
        <tbody>
        {% for resultat in athletes %}
        <tr>
            <td>{{ resultat.athlete.firstname }}</td>
            <td>{{ resultat.athlete.lastname }}</td>
            <td>{{ resultat.time }}</td>
            <td>{{ resultat.points }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

{% endblock %}
